<!-- <p appDirective>{{title}}</p>
<button type="button" (click)="switch()" >on/off</button>
<app-comp1 appDirective ></app-comp1>
<app-twdb></app-twdb> -->
<!-- <div *ngIf="visible">
    
    <app-ngfor [child]="title" (eveemit)="m1($event)"></app-ngfor>
</div> --> 
<!-- <div> 
    {{ myDate | date:'fullDate' }} <br>
{{ myDate | date:'shortDate' }} <br>
{{ myDate | date:'mediumDate' }} <br>
{{ myDate | date:'longDate' }}  <br>
{{ myDate | date:'fullTime' }}  <br>
{{ myDate | date:'shortTime' }} <br>
{{ myDate | date:'mediumTime' }} <br>
{{ myDate | date:'longTime' }} 
</div> -->
<!-- <app-comp1></app-comp1> -->
 <!-- <app-reactiveform></app-reactiveform> -->
 <!-- <router-outlet></router-outlet> -->
